{% load static %}

<!-- Primary Meta Tags -->
<meta name="title" content="{% block meta_title %}{{ site_name }}{% endblock %}">
<meta name="description" content="{% block meta_description %}{{ site_description }}{% endblock %}">
<meta name="author" content="{% block meta_author %}{{ site_author }}{% endblock %}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{% block og_type %}website{% endblock %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:title" content="{% block og_title %}{{ site_name }}{% endblock %}">
<meta property="og:description" content="{% block og_description %}{{ site_description }}{% endblock %}">
<meta property="og:image" content="{% block og_image %}{% static 'blog/img/default-og-image.jpg' %}{% endblock %}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ request.build_absolute_uri }}">
<meta property="twitter:title" content="{% block twitter_title %}{{ site_name }}{% endblock %}">
<meta property="twitter:description" content="{% block twitter_description %}{{ site_description }}{% endblock %}">
<meta property="twitter:image" content="{% block twitter_image %}{% static 'blog/img/default-og-image.jpg' %}{% endblock %}">

<!-- Schema.org markup -->
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "{% block schema_type %}WebSite{% endblock %}",
    "name": "{{ site_name }}",
    "url": "{{ request.scheme }}://{{ request.get_host }}",
    {% block additional_schema %}{% endblock %}
    "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ request.scheme }}://{{ request.get_host }}{% url 'blog:search' %}?q={search_term_string}",
        "query-input": "required name=search_term_string"
    }
}
</script> 